    <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column">
        <div ng-controller="planoCadastroController" class="box">
          <form ng-submit="cadastroPlano()">
            <div class="field">
              <div class="control">
                Componente Curricular
                <input
                  ng-model="componenteCurricular"class="input is-large" 
                  type="text"
                  placeholder="Componente Curricular"
                  autofocus="" name="componenteCurricular"
                  value="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                Tema
                <input
                  ng-model="tema"
                  class="input is-large"
                  type="text"
                  placeholder="Tema"
                  name="tema"
                  value=""/>
              </div>
            </div>
            <div class="field">
              <div class="control">
                Objetivos
                <textarea ng-model="objetivos"
                  class="textarea"
                  placeholder="Objetivos"
                  name="objetivos"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                Duração
                <input 
                  ng-model="duracao"
                  class="input is-large"
                  type="number"
                  placeholder="Duração em aulas"
                  name="duracao"
                  value=""/>
              </div>
            </div>
            <div class="field">
              <div class="control">
                Conhecimentos Prévios
                <input 
                  ng-model="conhecimentosPrevios"
                  class="input is-large"
                  type="text"
                  placeholder="Conhecimentos Prévios"
                  name="conhecimentosPrevios"
                  value="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                Recursos
                <textarea
                  ng-model="recursos"
                  class="textarea"
                  placeholder="Recursos"
                  name="recursos"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                Descrição
                <textarea
                  ng-model="descricao"
                  class="textarea"
                  placeholder="Descrição"
                  name="descricao"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                Avaliação
                <textarea
                  ng-model="avaliacao"
                  class="textarea"
                  placeholder="Avaliação"
                  name="avaliacao"></textarea>
              </div>
            </div>
            <button type="submit"
              class="button is-block is-info is-large is-fullwidth">
              Salvar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>