    <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column">
        <div ng-controller="planoController" class="box">
          <form ng-submit="editar(dto)">
            <div class="field">
              <div class="control">
                Componente Curricular
                <input
                  ng-model="dto.componenteCurricular"
                  class="input is-large" 
                  type="text"
                  placeholder="Componente Curricular"
                  autofocus="" name="componenteCurricular"
                  >
              </div>
            </div>
            <div class="field">
              <div class="control">
                Tema
                <input
                  ng-model="dto.tema"
                  class="input is-large"
                  type="text"
                  placeholder="Tema"
                  name="tema"
                  >
              </div>
            </div>
            <div class="field">
              <div class="control">
                Objetivos
                <textarea
                  ng-model="dto.objetivos"
                  class="textarea"
                  placeholder="Objetivos"
                  name="objetivos"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                Duração
                <input 
                  ng-model="dto.duracao"
                  class="input is-large"
                  type="number"
                  placeholder="Duração em aulas"
                  name="duracao"
                  >
              </div>
            </div>
            <div class="field">
              <div class="control">
                Conhecimentos Prévios
                <input
                  ng-model="dto.conhecimentosPrevios"
                  class="input is-large"
                  type="text"
                  placeholder="Conhecimentos Prévios"
                  name="conhecimentosPrevios"
                  >
              </div>
            </div>
            <div class="field">
              <div class="control">
                Recursos
                <textarea
                  ng-model="dto.recursos"
                  class="textarea"
                  placeholder="Recursos"
                  name="recursos"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                Descrição
                <textarea
                  ng-model="dto.descricao"
                  class="textarea"
                  placeholder="Descrição"
                  name="descricao"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                Avaliação
                <textarea
                  ng-model="dto.avaliacao"
                  class="textarea"
                  placeholder="Avaliação"
                  name="avaliacao"></textarea>
              </div>
            </div>
            <button type="submit"
              class="button is-block is-info is-large is-fullwidth">
              Salvar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>